[2022-08-21 13:36] anivaros opened #3 "[Bug] app crashes on generate enum, command line script returns error "file not found""
Hello! Thank you for your work!

IDK what I'm doing wrong, but when I tap "Generate Enum File", app crashes (or closes, because there are no crash report on Console app).
And build phase returns an error:

I found message in log

Maybe its because of M1 platform or beta macOS?

## Environment

- App Version: 1.0.0 (Build 33)
- System Version: 13.0 (Build 22A5321d)
- System CPU: Apple M1 Pro

[2022-08-22 12:18] Jeehut commented on #3
@anivaros Thank you for reporting this issue. I've experienced something similar yesterday during my stream, so I think I should be able to reproduce this and fix it soon. I don't think you're doing something wrong, please just wait for the next beta to come out and try again. I'm sorry for the inconvenience, but I'm currently doubling down on issues like this, so Beta 3 should be much more stable

[2022-08-26 06:05] Jeehut commented on #3
@anivaros I just fixed one of the two issues you reported here and the fix will be included in the next beta. But I can't reproduce the crash when pressing "Generate Enum File". I need 3 pieces of information from you to further investigate:

1. Can you please send a screenshot of your "Generated Code" config file page?
2. Does it crash when pressing it from "Quick Actions" or from "Generated Code

[2022-08-26 09:02] anivaros commented on #3
Checked again and it doesn't crash anymore on enum 🤷‍♂️
But I've got new problems - I can't add new keys, it says, there are no .string files in my project, but I'd not true, it saw them before..
<img width="898" alt="Screenshot 2022-08-26 at 11 59 59" src="https://user-images.githubusercontent.com/873387/186868130-963851ae-0e20-4157-97f0-79ab01bd7124.png">

Is there some cache or something? Can I

[2022-08-26 09:26] anivaros opened #4 "[Feat] Add support for Yandex translation service"
## Problem Statement

I want to use custom translator ([Yandex.Translate](https://cloud.yandex.com/en-ru/docs/translate/))

## Suggested Solution

It wold be nice to be able connect custom translation engines by specifying api requests for them.

[2022-08-26 10:19] Jeehut commented on #3
@anivaros You can simply press "Rescan Strings(dict) files" to fix this. If that doesn't work, you might need to remove the project from the project browser and reopen it. This can happen when files are moved around or paths change (e.g. when the config file is moved or the Xcode project is moved). Please tell me if this works.

If the issue with the enum file doesn't happen anymore, that's even b

[2022-08-26 10:26] Jeehut opened #5 "[Bug] No `.strings` files in add translation view in my project"
I can't add new keys, it says, there are no .string files in my project, but I'd not true, it saw them before..
<img width="898" alt="Screenshot 2022-08-26 at 11 59 59" src="https://user-images.githubusercontent.com/873387/186868130-963851ae-0e20-4157-97f0-79ab01bd7124.png">

Is there some cache or something? Can I delete info about project and restart setup?

_Originally posted by @anivaros in ht

[2022-08-26 10:27] Jeehut commented on #5
@anivaros You can simply press "Rescan Strings(dict) files" to rescan your project for all Strings(dict) files. If that doesn't work, you should check your "Search Paths" in the config file. This can happen when files are moved around or paths change (e.g. when the config file is moved or the Xcode project is moved). Please tell me if this works.

[2022-08-26 10:28] Jeehut commented on #3
@anivaros I'm closing this issue as both requested issues should be fixed in the next beta. Please comment again if the issue appears to remain and I'll reopen. I have created a separate ticket in #5 for the Strings file issue you mentioned. Let's discuss that there.

Thank you again for reporting! 🙌

[2022-08-26 10:34] anivaros commented on #5
I've tried to press button of course 🙂, but nothing happens..

[2022-08-26 10:35] Jeehut commented on #4
@anivaros Thank you for posting the first feature request! (Of course, you also posted the first official bug report. 👏 )

Adding more translation services is definitely something I'd like to do with the monthly future updates planned. I didn't have Yandex on my list yet, so thank you for mentioning it. To everyone interested the Yandex translation service, please upvote (👍) this feature request s

[2022-08-26 10:37] anivaros commented on #5
I think I could broke it by renaming project (removed space between words)

[2022-08-26 10:41] Jeehut commented on #5
@anivaros If you renamed the project, then please try just removing the app from the "Project Browser" window like this:
![Screen Shot 2022-08-26 at 12 38 26](https://user-images.githubusercontent.com/6942160/186886366-cb30474b-8500-4fa9-870b-61b369e261ed.png)

Then, simply reopen the `.remafox` config file by double-pressing it and then pressing "Quick Setup".

If that doesn't help, you can also

[2022-08-26 10:58] Jeehut commented on #4
@anivaros Please note that I did recognize that you were asking for a way to add support for any translation service yourself. But it's not that easy to provide a generalized way of allowing users to add their custom services, I think this is much more complicated than me implementing each service myself – there's only so much translation services available anwyays.

Each service has a different m

[2022-08-26 11:04] anivaros commented on #5
I have no delete button in "Project Browser":
<img width="912" alt="Screenshot 2022-08-26 at 13 51 25" src="https://user-images.githubusercontent.com/873387/186888899-076cab5e-522d-4371-99f7-a92de129f49d.png">

I found problem, I've added slash in the end of Search path. I removed it and it fixed the problem.

Buuuuuut..... now crash on generate enum is back lol 😅

[2022-08-26 11:10] anivaros commented on #3
Sorry, but I have to reopen this issue..)

Nothing special. With "app target" and simpler path it crashes too.
<img width="600" alt="Screenshot 2022-08-26 at 14 07 47" src="https://user-images.githubusercontent.com/873387/186890867-b8236003-f991-45a1-a778-8cd30feb63b4.png">

Both

It opens file normally

[2022-08-27 09:03] Jeehut commented on #5
@anivaros Oh, judging from the looks of your screenshot, I think there are actually some issues with macOS Ventura here. (You said you're on Ventura, [here](https://github.com/FlineDev/ReMafoX/issues/3#issue-1345490277).) Cause the whole border isn't supposed to be there and there's also no delete button, as you stated, but it's supposed to be there.

It looks like I have to test things with Ventu

[2022-08-27 09:06] anivaros commented on #5
I added comment to issue with crash yesterday. You will reopen it if crash reproduces again.

[2022-08-27 09:10] Jeehut commented on #3
@anivaros Ok, thank you for the information, I have reopened the issue. The answers imply that there's an issue with the app, not with the configuration. I believe the crash is due to Ventura, I will have to investigate and test with it to fix it. Will do so before the next beta. Thank you for reporting!

[2022-08-31 14:14] Jeehut commented on #3
@anivaros I just tested my app on macOS Ventura and while I did find some issues, I could not reproduce the crash you reported here on pressing "Generate Enum File" – it all worked fine in my tests.

Maybe there is an issue with some of the translation entries in your Strings files or the file encoding that breaks things. In order to further help you, please provide me with your `.strings` files i

[2022-08-31 14:20] Jeehut commented on #5
@anivaros I just tested the app on macOS Ventura and I can reproduce the issue with how the project browser is looking. I'm not sure if I can provide a proper fix before switching to Xcode 14 and I can only switch to Xcode 14 once Apple accepts apps from Xcode 14 for the Mac App Store (which I believe it currently doesn't).

Thus, for the time being, please try deleting the preferences of the app

[2022-08-31 14:33] anivaros commented on #3
I tried to remove all rows from `.strings` files but it was crashing anyway with empty files 😔

[ReMafoX-2022-08-31-172516.ips.zip](https://github.com/FlineDev/ReMafoX/files/9462357/ReMafoX-2022-08-31-172516.ips.zip)

Ive got crashlog now! 🎉
Maybe this will help you, because there are nothing special in my project structure:
<img width="760" alt="Screenshot 2022-08-31 at 17 27 22" src="https://use

[2022-08-31 14:39] anivaros commented on #5
Why you can't install second Xcode version?

btw, deleting settings helped to remove duplicate project, thanks!

[2022-08-31 14:47] Jeehut commented on #3
@anivaros Thank you for the sample project structure. So when you delete your app preferences (as described [here](https://github.com/FlineDev/ReMafoX/issues/5#issuecomment-1233004585), then you download the "Project struct.zip" you have uploaded, and double-click the `.remafox` file, press on "Quick setup", allow access to the enclosing folder and then press "Generate Enum File", does it still cr

[2022-08-31 14:52] Jeehut commented on #5
@anivaros I already have Xcode 14 beta 6 installed. But to fix the UI on Ventura, I have to switch to Xcode 14 as the IDE that I build my Beta apps with as the changes I need to make are not supported by Xcode 13. But if I do that, I can't upload the app to the Mac App Store (which I plan to do very soon) because Apple doesn't accept builds to the App Store from beta Xcode. At least that's how I k

[2022-08-31 15:18] anivaros commented on #5
Oh, I've got it now

No, I've found how to fix this [before](https://github.com/FlineDev/ReMafoX/issues/5#issuecomment-1228358983):

My search path was `CookingRecipes/`, and that's was a problem :)

[2022-08-31 15:20] anivaros commented on #3
Yes :(

🤞🤞🤞

[2022-08-31 15:26] Jeehut commented on #5
@anivaros Oh yes, of course, you already mentioned that, I forgot. I think I kept this open so I could check for the other Ventura issues, and I already did that. I will make sure to fix them as soon as I can entirely switch to Xcode 14, but that's not related to this issue.

So, happy to hear that this was just an issue with your paths setup, closing then. 🎉

For everyone stumbling upon the same

[2022-08-31 15:26] #5 closed

[2022-09-01 16:04] Jeehut commented on #3
@anivaros Beta is now [available](https://github.com/FlineDev/ReMafoX/releases/tag/1.0.0-beta.3). Please report if it still crashes.

[2022-09-22 10:32] Sn0wfreezeDev opened #8 "Fetch NSLocalizedStrings and convert them automatically to a ReMaFox resource"
## Problem Statement

I was a big fan of bartycrouch and I am happy to see that you are working on a Swift based version. The main feature I liked about Barty crouch was the ability to fetch all Keys from NSLocalizedString and add them to the Localizable.strings file.

When working on an app with multiple people it is easier if just one person keeps an eye on localization. The others just add thei

[2022-09-22 10:32] Sn0wfreezeDev commented on #8
I would also be happy to contribute if you plan to go open source 😊

[2022-10-05 20:48] Jeehut opened #9 "[Feat] Add full support for Ventura"
## Problem Statement

Currently the app seems not to be optimized for macOS Ventura. The project browser has some borders that look weird and in some places there might be UI glitches. Also the window management is sub-par.

## Suggested Solution

Fully test the app on Ventura and optimize it for it, including a reimplementation of the window management system using SwiftUI 4.

## Additional Consi

[2022-10-05 21:02] Jeehut opened #10 "[Feat] Pro Tier for Open Source projects for Free"
## Problem Statement

Currently, open source projects without a view to gain profit can easily exceed the limit of the Free tier and be therefore limited. It is hard to get a license for open source contributors, so giving open source projects a special treatment would be nice.

## Suggested Solution

Provide the Pro tier to open source projects for free, provided the project has an accepted open

[2022-10-05 21:04] Jeehut opened #11 "[Feat] Add support for Google Translate service"
## Problem Statement

Currently only Microsoft Translator and DeepL services are supported.

## Suggested Solution

Add support for Google Translate.

## Additional Considerations

This could be worked in in combination with #4.

[2022-10-05 21:20] Jeehut opened #12 "[Feat] Specialized Strings file editor"
## Problem Statement

Currently a lot of workflows are provided that automatically analyze and change content in Strings files. But editing translations needs still to be done in `.strings` files. While this is not a problem when working in a single one, it can become quite tedious with lots of supported languages to get an overview of a single key, for example.

## Suggested Solution

Add a Strin

[2022-10-05 21:27] Jeehut opened #13 "[Feat] Easy way of inviting others to verify translations"
## Problem Statement

Currently, machine-translation helps translate to more languages easily, but machine-translation can only do so much. There will always be mistakes and out-of-context translations. For many developers, the quality of machine-translations isn't high enough to ship them as is. Instead, a review of a person actually speaking that language is needed. This should be as simple to d

[2022-10-05 21:34] Jeehut opened #14 "[Feat] Machine-translate Fastlane App Store text files"
## Problem Statement

When automating things with [Fastlane](https://fastlane.tools) it is possible to also provide the App Store description, What's New text and more in text files right within the repository that will be automatically uploaded. Currently it's not possible to translate them using ReMafoX.

## Suggested Solution

Add support for translating Fastlane texts within ReMafoX.

## Addit

[2022-10-06 14:14] Jeehut opened #15 "[Bug] [Code: LFUxKRI] "Failed to count text blocks in project." in config file"
## Steps to Reproduce:

1. Setup a project with `.strings` files
1. Open the `.remafox` config file
1. Navigate to the "Quick Actions" / "Generated Code" sidebar entry (if not already there)

## Expected Behavior:

The counting of the text blocks in the project should succeed so we can see how many text blocks (= keys) are in use.

## Current Behavior:

I'm receiving an error stating that `//` com

[2022-10-06 14:51] #15 closed

[2022-10-07 07:40] Jeehut opened #17 "[Bug] [Code: PRAxSRI] "Generating Strings enum failed with error" in project setup"
## Steps to Reproduce:

1. In the Projects Browser, press "Setup new project"
1. Drag & drop a project & wait for the analyzer to complete
1. Press "Continue" in the Quick Config screen

## Expected Behavior:

I expect the project to finish setup and show me the configuration file so I can adjust it, instead of showing me an error.

## Current Behavior:

I get an error stating the following:

## E

[2022-10-07 07:47] Jeehut commented on #17
This is pretty much a duplicate of https://github.com/FlineDev/ReMafoX/issues/15. To fix this, do the following:

1. Press "Close" in the error dialog
1. Press "Cancel" in the project analyzer window
1. Delete the `.remafox` file that was created in your project
1. Follow [our detailed migration guide](https://github.com/FlineDev/ReMafoX/issues/15#issuecomment-1270200501) to fix your Strings files

[2022-10-13 14:35] lukemmtt opened #18 "[Feat] Provide a bulk translation workflow for all Strings in a file"
## Problem Statement

Let's say I have a view controller with 30 unlocalized strings that you want to localize. This is a common situation for (a) indie devs localizing their apps for the first time, or (b) small dev teams who prefer to have one person responsible for localizing the app (like me).

With Bartycrouch, my workflow was really efficient and looked like this:

1. Select the unlocalized

[2022-10-13 16:44] lukemmtt opened #20 "[Bug] [Code: PRAxME] Found an empty translation value for key"
## Steps to Reproduce:

1. Configured DeepL translation API key
2. Ran batch translation, succeeded for a while
3. Got hung up on an empty translation key

## Expected Behavior:

Dialog box should give me an option to ignore empty keys

## Current Behavior:

- Clicking "Close" on the error dialog box returns to the Machine Translator dialog box with the progress bar frozen. At this point, progress

[2022-10-13 17:08] lukemmtt opened #21 "[Bug] "Update Strings files from Storyboard/XIB files" not working"
## Steps to Reproduce:

1. Experienced "empty key error" documented here (https://github.com/FlineDev/ReMafoX/issues/20)
2. In order to fix empty key, I navigated to the Storyboard in Xcode, and added "#bc-ignore!" to the localizer hint field for that string, as I have for dozens of other strings in my app.
3. Ran "Xcode -> build" to run ReMafoX build script
4. Returned to ReMafoX, experienced htt

[2022-10-13 19:11] Jeehut opened #22 "[Feat] Provide auto-completion for keys for reusing same prefixes"
## Problem Statement

Currently, when you have a Strings file with lots of entries and you want to add a new one, it's hard to remember the exact names of existing keys and especially their prefixes, such as `Onboarding` for the key `Onboarding.Page1.Title`. You need to manually look up the right key and already-used prefixes.

## Suggested Solution

Provide auto-completion for creating a new key

[2022-10-13 19:14] Jeehut commented on #18
@lukemmtt Thank you very much for the detailed feature request, it's much appreciated! ❤️

I totally wasn't aware that BartyCrouch could be used the way you described above, if I had been, I would have made sure to cover this use case in ReMafoX from the beginning. That's a really cool process, saving a lot of time!

I love the idea of adding a bulk workflow dialog box and I think that's how I wan

[2022-10-13 19:31] Jeehut commented on #20
@lukemmtt Thank you for reporting this. If I understand correctly, what you mean by "got hung up on an empty translation key" is that no value was provided for the key in the source translation, e.g. in `en.lproj/Localizable.strings` file, right?

I will try to reproduce this very soon and find a better user experience than simply failing at one place without the option to skip. Possibly, I might

[2022-10-13 19:43] lukemmtt commented on #21
Indeed, the bartycrouch ignore flags are present. I also tried using the "#remafox-ignore" flag, no change.

It's worth noting that these flags are obviously working in some capacity, because the many other storyboard strings for which I had previously added "#bc-ignore!" to are not being erroneously added by the build script—it is just the blank strings that I forgot about that I can't seem to ge

[2022-10-13 19:47] Jeehut commented on #8
Please note that in #18 a feature was requested where the solution is somewhat related to this problem. I will try to consider finding a solution that also covers this feature request, at least on a file level. A full project-wide implementation might come later, depending on how many people vote on this feature.

[2022-10-13 19:51] Jeehut commented on #21
@lukemmtt Thank you for looking that up. As you say that it doesn't seem to happen everywhere and that you had forgotten to add the ignore flag at first, have you tried removing the key manually from the source language `.strings` file and building your project (to run the build script)? I would expect the normalizer then remove the key from all other languages for you and the IB files updater to

[2022-10-13 20:09] lukemmtt commented on #21
Yup, tried that. It adds it right back.

Here's a screen recording for you:
https://user-images.githubusercontent.com/1598289/195698964-14c875d6-c98a-47b0-9d08-5d1e3bc4b27d.mp4

And here's the storyboard:
[Onboarding.storyboard.zip](https://github.com/FlineDev/ReMafoX/files/9780312/Onboarding.storyboard.zip)

[2022-10-13 20:26] lukemmtt commented on #21
@Jeehut possible correction—I'm not sure the "ignore flags" are working at all, even for things that I flagged before installing ReMafoX.

Here is a screenshot of an item that has been labeled with bc-ignore for ages:
![Screenshot 2022-10-13 at 4 24 40 PM](https://user-images.githubusercontent.com/1598289/195703670-1ec6ccb6-003a-4141-ab51-be8c98fdec05.png)

[2022-10-13 21:08] Jeehut commented on #21
@lukemmtt Thanks for the fast responses. I'll make sure to take a look tomorrow! This shouldn't happen, of course.

[2022-10-14 06:38] Jeehut opened #23 "[Bug] Keys consisting of only parameters don't have a useful generated code"
## Steps to Reproduce:

1. Add the entry `"%1$@ %2$@" = "%1$@ %2$@";` to a Strings file
1. Let ReMafoX generate the enum

## Expected Behavior:

I would expect to see some useful naming for the generated code, such as `UnnamedParam1UnnamedParam2`.

## Current Behavior:

The key name is `_12`, which is not very useful.

## Environment

This was reported to me through other channels, no context prov

[2022-10-14 12:20] Sn0wfreezeDev opened #24 "[Use] Text Block Count does not seem to work with Extensions"
## Steps to Reproduce:

I have an app with an Apple Watch extension. For simplicity I just share the the same translations between the extension and the main app. All in all I have 239 entries in my .strings file. (I can see that in my previous translation tool).
I tested ReMaFox in the Beta and directly went for the Pro Tier. Now the app prompts me to upgrade to the Max plan since it discovered 7

[2022-10-14 13:01] Jeehut commented on #20
@lukemmtt I just implemented a fix for this. The issue should be resolved in the next version `1.0.3` to be released soon.
If you continue to see it there, feel free to comment again and I'll reopen.

[2022-10-14 13:20] Sn0wfreezeDev commented on #24
I could definitely try the shared folder I thought that Xcode requires a certain folder structure here. So that every localized file is in a sub-folder of the target that uses it.

I have a small utility that does the updating for me using my current localization system. So it would be one step less for me if the Shared folder works 😊

[2022-10-14 14:16] #21 closed

[2022-10-14 14:39] Jeehut commented on #24
@Sn0wfreezeDev Yes it is totally possible to only have one Strings file and link the same file to multiple targets. From the compilers perspective, it's exactly the same thing as you currently have because each target has its own copy build phase and each target will get its own copy. But _you_ only have to maintain one file.

For your convenience, I prepared a demo project with multiple targets a

[2022-10-14 21:20] gaige opened #25 "[Bug] [Code: ATWxL] No translation, only error"
## Steps to Reproduce:

1. Set up an existing Project (Obj-C and Swift)
1. Configured for RaMafoX with Azure translate
1. Selected an untranslated string
1. Pressed the key combination

## Expected Behavior:

Expected the translation to happen

## Current Behavior:

Received an error message:

No Strings(dict) file with the source language English was found.
Make sure your configured paths are cor

[2022-10-14 21:27] Jeehut commented on #25
@gaige Thank you for reporting this.

To help you or investigate a potential issue, I need more information from you:
1. What is the language you use while coding, providing the initial text in (= your development language)?
2. What language is set as the source language in the config file (see "General" pane)?
3. Which of all these Strings files would you expect the new key to be added to?
4. Can

[2022-10-14 21:45] gaige commented on #25
1. Development language is English (en)
2. Source language is English (With the American flag)
3. I'd expect it to be added to ./Interface/en.lproj/Localizable.strings — which may be the problem, as that doesn't exist (previously I hand-coded the LocalizedStrings() file)
4. No, it wasn't there. Once I added it, it was. However, I seem to continue to get the error.

Quitting the ReMafoX app and res

[2022-10-14 21:48] gaige commented on #25
Also, closing the ReMafoX app with the error up will cause the error and translation panel to re-appear when re-launching.

If I _then_ cancel and quit again it won't come back when I quit and relaunch.

[2022-10-14 23:36] gaige commented on #25
I seem to have somewhat better luck if I choose a string in one of the Swift files as opposed to Objective C. Although I still am getting the error about not being able to locate the file. I'm wondering if the non-base path is throwing it somehow?

[2022-10-15 05:50] Jeehut opened #26 "[Feat] Full Objective-C support"
## Problem Statement

As of now, Objective-C seems to be supported to trigger the Add Translation workflow. But to reference localized Strings safely, a Swift `enum` is generated by ReMafoX which can't be referenced in Objective-C. This should be fixed so apps with mixed Swift & ObjC code can make use of ReMafoX.

## Suggested Solution

Adjust the generated Swift code to be referencable in Swift,

[2022-10-15 05:52] Jeehut commented on #25
@gaige Thank you for answering the questions and the detailed information.

You've run into multiple different problems here, mostly caused by the first issue, let me break things up a bit so we can tackle each problem separately:

## Error Code `ATWxL`

ReMafoX expects you to have a `.strings(dict)` file in your selected source language to exist. Otherwise it won't work properly and you will get

[2022-10-15 08:05] gaige commented on #25
Thanks for the additional info.  Last night, as an experiment, I created a new en.lproj at the root level and move the Localizable.Strings files to the en, es, de, and fr at the root level.

I was still getting the error, and I couldn't seem to get to the point where I could ever insert any items. Although I could set the file in the drop-down, after getting the error I couldn't insert in Xcode, a

[2022-10-15 08:07] #23 closed

[2022-10-15 08:08] Jeehut commented on #23
I just implemented this and it will be part of the next release (anything above `1.0.2`).

[2022-10-15 08:32] Jeehut commented on #25
@gaige Yeah, I think restarting the setup process after making sure you have an English version of your `Localizable.strings` file available could help resolve the issue. I hope this works!

If not, feel free to send me a ZIP file with the relevant parts in your projects where I can reproduce the issue. I'm happy to investigate and fix any issues either with the app or with your configuration to h

[2022-10-15 09:18] gaige commented on #25
Unfortunately, purging the `ReMafoX.swift` and `CartoMobile.remafox` files and then re-opening the project in ReMafoX didn't seem to help much. It's still claiming it can't find the file correctly (and I've been testing solely with some Swift/SwiftUI files in the project).

I've also noticed, it seems to be searching files in directories that are listed in the exclusion paths. I can see this as we

[2022-10-15 09:21] gaige commented on #25
As for sending along the files or inviting to github, my projects aren't on github, and as I mentioned, the projects are sizeable.

If there's a subset of information you need, I'm happy to crate that up (like the lproj directories, etc.), but I'm not sure access to source will be possible.

With that said, if you have some diagnostics you'd like me to run, I'm happy to give it a try. This looks p

[2022-10-15 09:27] gaige commented on #25
/assign @Jeehut

[2022-10-15 10:19] Jeehut commented on #25
@gaige Thank you for the write-up and for being patient in getting this to work.

As I just released the app few days ago, I did expect some more bugs to be revealed once the app gets more real-world usage. I really want to tackle them within the next weeks, and you seem to describe multiple bugs here, which I really want to investigate and help fixing so everything works smoothly in your projects

[2022-10-15 11:10] Sherlouk opened #30 "[Bug] Localised Intent files are not supported"
## Steps to Reproduce:

1. Create a new .intentdefinition file
1. Enable localisation on it
1. Try and add a new localisation to it using ReMafoX

## Expected Behavior:

It should detect the base language and any additional languages, enabling you to add a new translation.

## Current Behavior:

ReMafoX throws an error (ATWxL) stating that "No Strings(dict) file with the source language English wa

[2022-10-15 11:13] Sherlouk opened #31 "[Feat] Automatic English Variants"
## Problem Statement

Apple supports providing string definitions for a number of sub-English languages including (but not limited to):

* British (en-GB)
* American (en-US)
* Canadian (en-CA)
* Australian (en-AU)

I highlight these ones in particular because they are notable, large, audiences which applications may find value in providing custom translation variants for. Additionally, there are f

[2022-10-15 11:16] Sherlouk opened #32 "[Feat] Add Support for Welsh language"
## Steps to Reproduce:

1. Setup ReMafoX with a project which supports English (development language) and additionally Welsh
1. See that when you try to add a localisation that Welsh is not displayed

## Expected Behavior:

Welsh should listed in the UI with a text field allowing me to provide a suitable translation.

## Current Behavior:

Welsh is not displayed an option to provide translations f

[2022-10-15 11:22] Sherlouk opened #33 "[Feat] Use app-provided Locale"
## Problem Statement

Some applications (my app 😛 ) provides the user the option to choose which language it wants the app in, as opposed to relying solely on the system setting. Currently, ReMafoX's generated enum file uses static variables and system APIs which means only the device language is supported.

## Suggested Solution

It may be possible to (optionally, using a new value in the ReMafoX

[2022-10-15 11:49] Sherlouk commented on #14
+1 (subscribing for updates)

All my app metadata is managed by fastlane, so would value the ability to manage their translated versions.

[2022-10-15 12:11] Sherlouk opened #34 "[Feat] Support SmallStrings"
## Problem Statement

SmallStrings is a two step process developed by EmergeTools with the goal of reducing the binary size impact of localisations.

https://github.com/EmergeTools/SmallStrings

Notably for ReMafoX is that it changes how you request a localisation - you can't simply use system APIs as this project currently does.

From a users perspective, nothing should change. Simply a reduction

[2022-10-15 12:18] Sherlouk opened #35 "[Feat] Localise Info.plist"
## Problem Statement

Maybe related to #12, but it would be nice to have a visual and easy way to localise the contents of the apps Info.plist file.

These strings should not be included in the Swift enum.

## Suggested Solution

A new page in the app which lists the string literals (such as privacy descriptions) that warrant being localised.

You can select each one and alter the translation for

[2022-10-15 12:34] Sherlouk opened #36 "[Feat] Lingo Compatibility (Vapor)"
## Problem Statement

It would be nice to share tooling across Swift projects, specifically for projects utilising a Vapor backend.

Lingo is a separate tool which describes a JSON payload akin to the Strings(dict) file in iOS. It has a plug-in for Vapor and is well maintained and documented making it a good format for ReMafoX to support.

## Suggested Solution

ReMafoX should support reading and

[2022-10-15 13:21] Sherlouk opened #37 "[Bug] Changing Search Paths Locks UI"
## Steps to Reproduce:

1. Edit "Subpaths to Skip in Search" via Search Paths configuration
1. Notice how entire application freezes temporarily

## Expected Behavior:

The application UI should continue to usable with updates happening in the background. If the update needs to be done synchronously, then it should only update once a button is pressed and which (on press) should visibly show a pro

[2022-10-15 13:30] gaige commented on #25
I've added the `./,` back to the path (and the `third-party/` to the subpaths to skip). In that configuration, it's still seeing the files in the subdirectories. If you remove the `./` from the Paths to search then these are skipped. (That's safe to do because the .strings files are all in the `Interface` subdirectory).

I'll send along a zip of the project, pruned down substantially, however I'm

[2022-10-15 13:38] Jeehut commented on #30
@Sherlouk Thank you for reporting this.

I just verified how things work with Intents and to me it looks like Intent files behave exactly like Storyboard or XIB files in regard to translation: You can either skip Base-localization entirely (like you did) and simply use the Intent definition file as one localization. Or you can use Base-localization for your Intent definition file and provide a Str

[2022-10-15 13:51] Sherlouk commented on #30
I can confirm that using Base localisation has resolved the issue with intent files. I'd welcome support for ReMafoX to support projects without Base localisation but given the available workaround I appreciate this is low priority.

What I might suggest though as more of a higher priority would be to improve the error reporting for this kind of scenario? It's not obvious within ReMafoX that you s

[2022-10-15 13:53] Sherlouk commented on #32
After discussing this with you on Twitter, I've converted this to a feature request. I understand that at present ReMafoX has prioritised and added support for the default system languages which Apple lists [here](https://www.apple.com/ios/feature-availability/#system-language-system-language) which doesn't include Welsh.

This is a high priority feature for me though personally 🙁  I understand fo

[2022-10-15 13:56] Jeehut opened #39 "[Feat] Support more languages than the current 40"
## Problem Statement

Currently ReMafoX supports only 40 languages, which covers a good part of apps, but some apps just need to support some languages outside of these 40. Especially if they were written in a country outside of these 40 languages the app might need just this one more language to be supported, which is annoying.

## Suggested Solution

Add many more languages, for example all the

[2022-10-15 13:59] Jeehut commented on #31
@Sherlouk Thank you for requesting this feature!

Please read [this FAQ post](https://github.com/FlineDev/ReMafoX/discussions/38#discussioncomment-3885393) I just created to learn which languages are currently supported.

I just checked and found out that machine-translations on the currently supported services do not cover these local variants, so thank you very much for linking those libraries t

[2022-10-15 14:02] Sherlouk commented on #31
Thanks for noting the supported languages in the FAQ post! Indeed as per that ReMafoX already supports British English, American English and Australian English and so would already be in a great place to add this functionality.

I can see this being a low-priority feature, but is also relatively small and in my opinion quite a unique capability for such a tool. As a British user, I appreciate when

[2022-10-15 14:04] Jeehut commented on #33
Thank you for requesting this feature!

I'm open to implement a solution for this, so please make sure to leave an upvote so I can prioritize this feature accordingly.

Having that said: Have you considered pointing the user to the new system setting available since iOS 15, I believe, where the user can change the language of an app in the Settings app on an app-level? I know that this is not exac

[2022-10-15 14:06] Sherlouk commented on #39
Linking this to #32 which calls out the Welsh language specifically. Happy to close that if we'd rather keep everything together? Maybe folks can post their preferred missing languages as a comment in this issue and folks can upvote on each language individually without flooding the project with language suggestions?

[2022-10-15 14:08] Sherlouk commented on #33
I'm aware of the Per-App settings for accessibility options, such as dynamic text size. I wasn't aware that you could change locale per app? Where is this preference?

[2022-10-15 14:12] Jeehut commented on #33
@Sherlouk Just open the Settings app, scroll down to your app's entry and select "Language".

[2022-10-15 14:20] Jeehut commented on #33
@Sherlouk Great I could help!

By the way, to show the settings of your app programmatically from within your app, you can call:

[code]

See also the [related Apple documentation](https://developer.apple.com/documentation/uikit/uiapplication/1623042-opensettingsurlstring).

[2022-10-15 14:36] Jeehut commented on #34
@Sherlouk Thank you for reporting this interesting features.

I never heard of SmallStrings and neither have I thought about reducing binary size by compressing localizations. I always expected images, videos and other assets to be the biggest concern when it comes to binary size, not texts like localization. While I will treat this as any other feature request – so I will prioritize based on upvo

[2022-10-15 14:46] Jeehut commented on #35
@Sherlouk Thank you for requesting this feature.

Just to make sure I understand you correctly: What you are suggesting is that I give special treatment to the Info.plist file and its Strings files because they are usually not referenced in code? I think this is actually a brilliant idea and you are totally right that it doesn't make sense to include them in the Swift file. I just have to check if

[2022-10-15 14:52] Sherlouk commented on #34
Of course the use case depends on the developer and their app. As you add more and more languages, and more and more localised strings, the size of these files can keep on growing.

With Apple adding binary size limits to some features (such as App Clips which requires the app be under 10MB), and simply the fact that we as developers should be encouraged to keep our apps small, leads us to look at

[2022-10-15 14:55] Sherlouk commented on #35
No I think you've understand the problem perfectly. The Info.plist is a bit of a special case as it's not linked to the project code itself (but does utilise a strings file)

You can see an example here: https://stackoverflow.com/questions/25736700/how-to-localise-a-string-inside-the-ios-info-plist-file

[2022-10-15 15:01] Sherlouk opened #40 "[Bug] Plan Window Can't be Dismissed on second Mac"
## Steps to Reproduce:

(Spoke to you on Twitter about this)

1. Subscribe to ReMafoX on one machine
1. Open ReMafoX on another machine
1. Restore Purchases
1. Press 'Continue using your Current Plan'
1. Notice that Apple prompts you to review subscription settings in 'Account -> View My Account -> Settings'
1. Notice how the prompt closes and you're still on the plan window

## Expected Behavior:

[2022-10-15 15:09] Jeehut commented on #25
@gaige Waiting for the email then. I'm really curious what's going on here...

[2022-10-15 15:12] Jeehut commented on #36
@Sherlouk Once again, thank you very much for this feature request!

I'm very much interested in helping make localization for apps that have a Vapor backend easier as I'm going to use Vapor for my backend of future consumer-facing apps as well. And at the end of the day, I wrote ReMafoX for myself, too.

So rest assured that I will tackle this at some point. As always, everybody please sure to up

[2022-10-15 15:15] Jeehut commented on #37
@Sherlouk Thank you for reporting this.

You mention "notice how entire application freezes temporarily", but I can't find a video linked where I could notice that, could it be that you forgot to upload it? A video would be really helpful.

I also noticed you're on macOS Ventura Beta, do you experience the same issue on a non-beta build? Just in case you have the chance of testing it on Monterey.

[2022-10-15 15:17] Sherlouk commented on #37
Confirmed, this bug does not appear to happen on Monterey.

[2022-10-15 15:18] Jeehut opened #41 "[Bug] No guidance that Base-localization should be used"
## Steps to Reproduce:

As reported [here](https://github.com/FlineDev/ReMafoX/issues/30), ReMafoX currently doesn't make clear that Base-localization is to be preferred. The error is too cryptic.

## Expected Behavior:

The error should directly link to an FAQ page explaining why and how to Base-localize Storyboard/XIB/Intent definition files.

## Current Behavior:

TODO: Reproduce to see exact e

[2022-10-15 15:18] Jeehut commented on #30
@Sherlouk That's a very good point. I just created https://github.com/FlineDev/ReMafoX/issues/41 to improve on the UX here.

[2022-10-15 15:28] Jeehut commented on #32
For anyone else coming across this, I want to first mention that I created [this FAQ](https://github.com/FlineDev/ReMafoX/discussions/38) page explaining exactly the current language limits.

Having that said, please note that the main reason I have not included all languages yet is because for the smart pluralization feature to work properly, I have to integrate the correct mapping per language f

[2022-10-15 15:33] gaige commented on #25
I need to resend with a different mail server, for some reason your mail host has banned my mail server.  Not sure why… :shrug:-GaigeOn Oct 15, 2022, at 11:09, Cihat Gündüz ***@***.***> wrote:﻿
@gaige Waiting for the email then. I'm really curious what's going on here...

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you were mentioned.Message ID:

[2022-10-15 15:33] Jeehut commented on #39
@Sherlouk Please see my latest comment in #32. Apart from that, as of now, I don't think it's necessary for me to know which languages are most expected as once I start working on this task, it's more efficient to add a whole bunch of langauges right away and I think I'll manage to add an additional 50-100 in one go, which should then hopefully cover (nearly) all languages supported by Xcode.

Aft

[2022-10-15 15:37] Jeehut commented on #34
@Sherlouk I see, thank you for the explanation.

I haven't had the time to check what SmallStrings is doing yet in detail, but if it turns out to not influence the workflow in Xcode and doesn't seem to have any downsides, I would even consider making it the default behavior in ReMafoX. I think it would be nice if all users of ReMafoX simply had the additional advantage of additionally saving some

[2022-10-15 15:38] Jeehut commented on #35
Alright, makes sense, thank you for the confirmation! Will probably tackle this in steps, excluding from the Swift file first.

[2022-10-15 15:41] Jeehut commented on #40
This is clearly a bug. I just didn't test this properly, it seems and I know exactly what the issue is. I have a special "you have to choose a plan on first start" logic which disables itself once you've chosen a plan. All I need to do to fix it is to automatically disable this mode when a purchase could be successfully restored, which I clearly missed.

Will fix in next update!

[2022-10-15 15:44] Jeehut commented on #37
@Sherlouk Alright, in that case I will just mention this in #9 to make sure I don't forget to check this, too, when adding full Ventura support. But Ventura is simply not supported at the moment (it's in Beta as of the time of this writing) and therefore this is a duplicate of #9. I'm closing it.

Thank you for reporting and checking things! Note that I will work on Ventura support as soon as ther

[2022-10-15 15:44] #37 closed

[2022-10-15 15:45] Jeehut commented on #9
@Jeehut Make sure to check also that this bug reported for Ventura is fixed, too:
https://github.com/FlineDev/ReMafoX/issues/37

[2022-10-15 15:47] Sherlouk commented on #34
It's basically a two step process.

1. A Run Script step which compresses and changes the format of the Localizable strings.
2. A change to how you access localised strings in Swift (don't use system APIs).

Given ReMafoX already requires a Run Phase, it's potentially possible that you could do the compression yourself and require no changes by the end-user.

The changing of how you access the str

[2022-10-15 15:50] Jeehut commented on #25
@gaige You can also reach me through Twitter if email still doesn't work (don't know what the problem is either):
https://twitter.com/Jeehut

You can also try commits@cihatguenduez.de if you want to try a different E-Mail, but I think it's the same server...

[2022-10-15 15:53] Jeehut commented on #34
One downside seems to be the very fact that we would no longer be using system APIs and therefore any potential future changes or improvements might not work with this then. Not to say that this is a blocker for implementing it, but I think it's a blocker for making it the default behavior. I would make this optional then, leaving the decision to the users if they prefer using system APIs or small

[2022-10-15 16:12] Sherlouk commented on #34
I think making it optional is the best move to start with. With support it'll make it trivial for clients to opt-in and start using it - in theory with zero code changes needed.

It should be possible to provide an estimated saving too by taking the file sizes of all string files combined, and comparing it to a compressed version (which you could do at runtime).

"Enable SmallStrings to reduce bin

[2022-10-15 16:40] gaige commented on #25
I uploaded the zip to Dropbox and sent you a link.-GaigeOn Oct 15, 2022, at 11:50, Cihat Gündüz ***@***.***> wrote:﻿
@gaige You can also reach me through Twitter if email still doesn't work (don't know what the problem is either):
https://twitter.com/Jeehut
You can also try ***@***.*** if you want to try a different E-Mail, but I think it's the same server...

—Reply to this email directly, view i

[2022-10-15 16:49] #40 closed

[2022-10-15 16:50] Jeehut commented on #40
@Sherlouk I just implemented a fix for this. It will be included in the next update (`1.0.3`) to be released soon. 🎉

[2022-10-15 17:02] Jeehut commented on #25
@gaige Thank you, I have now successfully received the ZIP file and looked into the project to investigate.

Unfortunately, I can't reproduce the disabled "Insert" button issue. May I ask if you're on the Free/Pro/Max tier? Because you definitely need the Max tier for this size of project, but then you should see that the limits are exceeded like so:
![Screen Shot 2022-10-15 at 18 55 15](https://u

[2022-10-15 17:13] Jeehut commented on #40
@Sherlouk Do you need Welsh (`cy`) or Welsh (United Kingdom) (`cy-GB`)? There seem to be 2 options in Xcode.

[2022-10-15 17:26] Jeehut commented on #32
@Sherlouk Do you need "Welsh" (`cy`) or "Welsh (United Kingdom)" (`cy-GB`)? There seem to be 2 options in Xcode.
I'm guessing that "Welsh" (`cy`) will do, no?

[2022-10-15 17:29] Jeehut opened #42 "[Bug] Changes in supported languages of a project don't get recognized"
## Steps to Reproduce:

1. Setup a project with 3 languages.
1. Add a new language in the project.
1. Open the config file and try to select the new language in the Source Languages or open the Add Translation window and try to translate to this new language.

## Expected Behavior:

The new language should be automatically detected, or at least a button to update the supported languages should be

[2022-10-15 17:30] Jeehut commented on #25
Alright, I've already found a bug that might have caused some confusion while investigating this, even if it's not the root cause. I've reported it here and will fix it soon: https://github.com/FlineDev/ReMafoX/issues/42.

[2022-10-15 17:34] Jeehut commented on #42
False alarm, this is actually working fine. I was testing with the wrong project. 😅
Closing again.

[2022-10-15 17:34] #42 closed

[2022-10-15 17:36] Jeehut commented on #25
I played around with the settings a bit, adding a language here etc. and now I could finally reproduce the disabled button issue. I have to stop investigating now, but at least I have something to investigate now for tomorrow. Progress! 🎉

[2022-10-15 17:45] gaige commented on #25
Thanks for the update.  I just got back to my computer.  Yes, using a max subscription. My other app is substantially larger with a lot more text…. If this works well enough, I may finally get some translations going on it. CartoMobile, as you can see already has translations, but not for new development I’ve been doing.-GaigeOn Oct 15, 2022, at 13:36, Cihat Gündüz ***@***.***> wrote:﻿
I played ar

[2022-10-15 17:45] #32 closed

[2022-10-15 17:46] Jeehut commented on #32
@Sherlouk I just added support for "Welsh" (`cy`) and it will be included with the next update (`1.0.3`) very soon.

[2022-10-15 17:48] Jeehut commented on #25
@gaige Alright, I'll keep you updated. I'm also interested in how the experience is with really large projects. I haven't done much performance testing with larger projects than 2,000 keys. If you have more, then I'm curious to see what parts might be a bit slow and need some work. But one step at a time...

[2022-10-15 18:25] Sherlouk commented on #32
Awesome! Can't wait - thanks for the rapid responses. Yeah `cy` is fine and what we use!

[2022-10-15 18:31] gaige opened #43 "[Bug] [Code: ATWxAF] <your bug title>"
## Steps to Reproduce:

1. Renamed my project directory (in which the ReMafoX project file and my source exist
2. Double-clicked on the ReMafoX project

## Expected Behavior:

Open and allow me to work on the renamed project

## Current Behavior:

Error message and not able to work with the file

## Environment

ATWxAF

<details>
<summary>Show environment details</summary>

- App Version: 1.0.2 (B

[2022-10-15 20:27] Jeehut commented on #43
Thank you for reporting this.

You're right, if you rename a project, you need to re-provide access to the project and the app does state that it no longer has access, but it doesn't help with fixing that and it should be improved. As you can see though, users who come across this again will see this issue linked:
<img width="1052" alt="Screen Shot 2022-10-15 at 22 20 44" src="https://user-images.

[2022-10-15 21:30] gaige opened #44 "[Bug] When starting app, empty window"
## Steps to Reproduce:

1. Quit App
1. Launch App

## Expected Behavior:

Window should show up with standard items.  This may be related to previously-reported issue with moved app folder.

Especially after old folder was reconstituted aside prior, renamed, folder.

## Current Behavior:

<img width="1012" alt="CleanShot 2022-10-15 at 17 28 15@2x" src="https://user-images.githubusercontent.com/335

[2022-10-16 05:18] Jeehut commented on #44
Thank you for reporting this.

This is a weird window reinstation behavior that I've seen a few times during testing as well. Note that closing the window and reopening it (e.g. via Cmd + P) fixes the issue with the left part of the window not being shown. I will have a look at that soon.

The other topic, which is that no projects are shown, is a different issue though. Actually, moving a folder

[2022-10-16 05:48] #25 closed

[2022-10-16 05:51] Jeehut commented on #25
@gaige I just found the root cause for the buttons being disabled and fixed it!

The problem was that I had incorrect logic for an early return when users are on the Max tier, where no limit checks are needed. The reason I couldn't reproduce the issue at first was that I was on the Pro plan in my test environment.

I will release an update with this fix very soon (`1.0.3`). I will also adjust the

[2022-10-16 06:08] Jeehut commented on #43
@gaige If I follow your reproduction steps and double-click the project in the Projects Browser after moving a project, I get this error, which is different than what you report in the title:

<img width="1053" alt="Screen Shot 2022-10-16 at 08 07 04" src="https://user-images.githubusercontent.com/6942160/196020872-5eafab5b-7dea-46e9-b63f-dec72852ddba.png">

As you can see, there's already a clear

[2022-10-16 07:29] Jeehut commented on #41
I just added a sentence that links to [this](https://github.com/FlineDev/ReMafoX/discussions/45#discussioncomment-3887998) FAQ answer to help users find the current workaround quickly:
<img width="1052" alt="Screen Shot 2022-10-16 at 09 25 19" src="https://user-images.githubusercontent.com/6942160/196023679-36eda57a-0640-48f2-8c1b-43b5c6c5dc64.png">

It'll be released as part of the next update ve

[2022-10-16 07:29] #41 closed

[2022-10-16 08:05] Jeehut commented on #41
Just uploaded and submitted version `1.0.3` with the fix for review. Should be available in ~24 h from now.

[2022-10-16 08:05] Jeehut commented on #40
Just uploaded and submitted version `1.0.3` with the fix for review. Should be available in ~24 h from now.

[2022-10-16 08:06] Jeehut commented on #32
Just uploaded and submitted version `1.0.3` with the fix for review. Should be available in ~24 h from now.

[2022-10-16 08:06] Jeehut commented on #25
Just uploaded and submitted version `1.0.3` with the disabled button fix for review. Should be available in ~24 h from now.

[2022-10-16 08:06] Jeehut commented on #23
Just uploaded and submitted version `1.0.3` with the fix for review. Should be available in ~24 h from now.

[2022-10-16 08:07] Jeehut commented on #21
Just uploaded and submitted version `1.0.3` with the fix for review. Should be available in ~24 h from now.

[2022-10-16 08:07] Jeehut commented on #20
Just uploaded and submitted version `1.0.3` with the fix for review. Should be available in ~24 h from now.

[2022-10-16 08:51] gaige commented on #44
I seemingly can reproduce the problem at will if I rename the directory the project is in. I do see that closing the window and then re-opening the Projects Browser window does restore the left half, although I recall that not being sufficient at some point yesterday (however I could be mistaken).

This morning, if I rename the directory that the `.remafox` file is in, that seems to cause the prob

[2022-10-16 09:10] gaige opened #46 "[Bug] Help Menu Text misaligned"
## Steps to Reproduce:

1. Launch application
2. Pull down Help menu

## Expected Behavior:

Menu item titles should line up vertically

## Current Behavior:

It appears that the symbols on the left of the items are not exactly the same width. It's mostly aligned, but there are cases where they're off by a pixel or two.  I'm not sure how you're generating the menus, but assuming these are SFSymbol

[2022-10-16 09:23] gaige opened #47 "[Bug] Slow typing performance in path window"
## Steps to Reproduce:

1. Create a ReMafoX project with an Xcode project that contains a large number (38,000) files
2. Go to the *Search Paths* window
3. Type in any of the paths boxes

## Expected Behavior:

Typing should be responsive

## Current Behavior:

Typing can become sluggish (on 16-core 2019 MacPro with macOS 12.6)

(Attached video should show this, and you should be able to see this

[2022-10-16 09:32] gaige commented on #43
Agreed, my reproduction steps are not consistent with what I remember doing, which was clicking on the Project in the Project Browser.

[2022-10-16 09:43] gaige opened #48 "[Bug] Command Key for Project Window"
## Steps to Reproduce:

1. Start ReMafoX
2. Click in Windows menu

## Expected Behavior:

Some (although not even all Apple-made) apps that have main windows use CMD-0 to bring these up.  For example, Mail.app.
That's not absolutely required, but as mentioned below, unexpected to see CMD-P as a window command key instead of print is unexpected.

## Current Behavior:

CMD-P is reserved for Print on

[2022-10-16 09:48] gaige commented on #44
Let me clarify, as my reply this morning wasn't well targeted. The at-will part is getting the window to reinstantiate with just the list of projects in it and not the left part of the window.

I've not yet been able to reproduce the same with no projects visible. If that recurs, I'll let you know.

[2022-10-16 14:40] Sherlouk opened #49 "[Bug] Swift file includes Xcode managed strings"
## Steps to Reproduce:

[ as requested on Twitter ]

1. Add an .intentdefinition file to your project
1. Localise it
1. See how the random identifiers generated by Xcode are added to the ReMafoX.swift file

## Expected Behavior:

Randomly generated identifiers generated by Xcode should not really be in the Swift generated file. These aren't intended to be used at runtime by our own source code and

[2022-10-16 15:06] Jeehut commented on #46
@gaige Thank you for reporting this.

The fix was obvious, so I already fixed it. It'll be available in `1.0.4`. 🎉 😄

[2022-10-16 15:06] #46 closed

[2022-10-16 15:14] Jeehut commented on #47
@gaige Thank you for reporting this.

Will test more with large projects to fix this, shouldn't hang of course!

[2022-10-16 15:30] Jeehut commented on #48
@gaige That's a good point. Wasn't aware that there's already a go-to command for it. Clearly one of the things I have to learn about Mac App development as someone with an iOS developer background.

I implemented the change already, will be available with the next update `1.0.4`.

[2022-10-16 15:30] #48 closed

[2022-10-16 15:33] Sherlouk commented on #47
For what it's worth, this was the exact same experience as mentioned in #37. I wasn't seeing it on Monterey though, only Ventura. Small project.

[2022-10-16 16:16] gaige opened #50 "[Bug] [Code: ATWxTMC] Request for translation needs to be cancelled"
## Steps to Reproduce:

1. Set up project
2. Add Microsoft translator key (Configured from new Azure account, us-east region)
3. Add Translation from Xcode
4. Put in valid Translation Key
5. Click Machine-translate all unlocked from source language

## Expected Behavior:

A few seconds later, translation should return with values

## Current Behavior:

Long await (I cancelled after 3 minutes)
Resu

[2022-10-16 16:22] Jeehut commented on #44
Thank you for clarifying and providing additional details!

[2022-10-16 16:24] Jeehut commented on #49
Thank you for reporting this.

It makes a lot of sense to ignore all files that are Base-localized, including Intent definition files. I'll make sure to adjust the logic to be more permissive of other kinds of files than just Storybord and XIB files, which are already excluded from the Swift file at the moment.

[2022-10-16 16:28] Jeehut commented on #50
@gaige thank you for reporting this.

It seems that there's sometimes an issue with presenting a dialog when a dialog is already present (like when in the process of translating). I will have to change the logic here to make sure nested dialogs work properly during translation so any issues are directly reported.

If there's anything about the error you get afterward that you think is a bug itself

[2022-10-17 06:00] nickfedoroff opened #51 "[Bug] [Code: PRAxMMMC] Machine translation authorization error"
## Steps to Reproduce:

1. On Machine Translation tab, add Microsoft Translator API Key in Setup API Keys
1. On Machine Translation Tab, click "Start Batch Translation"

## Expected Behavior:

Machine translation completes without error.

## Current Behavior:

Error popup appears with message about 401 error from translation service. See screenshot.

<img width="1552" alt="Screen Shot 2022-10-16 a

[2022-10-17 07:53] LiviuJianu commented on #51
A dropdown for selecting the region on where Microsoft Translation is deployed needs to be added.
When sending the same request using an HTTP Client, but adding the header parameter: `Ocp-Apim-Subscription-Region: eastus` it works.

[2022-10-17 09:42] Jeehut commented on #51
@nickfedoroff Thank you for reporting this and thank you @LiviuJianu for providing additional context.

I will make sure to check this quickly and push an update with a fix (e.g. options for choosing the region as suggested).

[2022-10-21 01:24] #51 closed

[2022-10-21 01:31] Jeehut commented on #51
@nickfedoroff @LiviuJianu
I just implemented a text field for providing a region, it will be released very soon as part of version `1.0.4`.

Please note that I opted against providing a dropdown with a limited list, even though this might seem convenient. The reason for that is that neither could I find any documentation of the full list of available regions anywhere in the related [Azure API docu

[2022-10-21 01:36] Jeehut commented on #24
@Sn0wfreezeDev
Have you had the chance to try the shared folder approach yet? If you have any issues with it, please let me know!

[2022-10-21 02:05] Jeehut commented on #46
I just submitted version `1.0.4` for App Review, the update with the fix for this should be available within 24 hours. 🎉

[2022-10-21 02:06] Jeehut commented on #51
I just submitted version `1.0.4` for App Review, the update with the fix for this should be available within 24 hours. 🎉

[2022-10-25 16:27] Jeehut commented on #9
I have just fixed multiple UI glitches and #37 while testing support for Ventura. It seems, all the issues I've seen during the Beta period except for #37 have been worked out by the Apple teams, I can't find other issues.

But the improvements to the window management I had planned for the Ventura update are not possible. I had mistakenly thought that the new [openWindow](https://developer.apple.

[2022-10-25 16:27] #9 closed

[2022-10-26 07:31] Sn0wfreezeDev commented on #24
I haven't had the chance yet, but I will try it tomorrow. I had to work on different projects before.

[2022-10-27 07:32] Sn0wfreezeDev opened #54 "[Bug] [Code: PBRxCRX] Not able to open ReMaFox projects"
## Steps to Reproduce:

1. Open a recent ReMaFox project
1. The App fails and tells me that the <Project>.remafox file does not exist
1. Re-opening the project from the existing project file leads to the same error
2. Deleting the project and re-opening it leads to the same error

## Expected Behavior:

I'd expect that the project can be opened in ReMaFox

## Current Behavior:

I get an error that

[2022-10-27 07:34] Sn0wfreezeDev commented on #54
I re-created the project and it works again. Might be an issue related to that I created this project while ReMaFox was still in beta.

[2022-10-27 07:46] Sn0wfreezeDev commented on #24
I tried it today and migrated to only one Localizable.strings file shared between all extensions.
This solved the issue and I'm down to around 220 text blocks. Thanks for the support 👍

<img width="703" alt="image" src="https://user-images.githubusercontent.com/3126229/198222453-9141bd5d-1dc4-486c-9659-f64a1b9b30be.png">

[2022-10-27 07:48] #24 closed

[2022-10-27 23:26] Jeehut commented on #24
@Sn0wfreezeDev Great to hear! Glad that I could help.

If you come across anything else, please don't hesitate to create another issue.

[2022-10-27 23:35] Jeehut commented on #54
@Sn0wfreezeDev Yes, the error code `PBRxCRX` is clearly an indicator that your config file did not have a valid format. And that can only happen if you created the project in an early Beta version but did not install a later Beta-version that contained an automatic migration (see release notes [here](https://remafox.app/changelog/#deprecated-1)). I removed all Beta-migrations in the final release

[2022-10-27 23:35] #54 closed

[2022-10-29 03:11] Jeehut commented on #26
This was just implemented and will be part of the next release `1.1.0`. 🎉

[2022-10-29 03:11] #26 closed

[2022-10-29 03:32] Jeehut commented on #47
@gaige @Sherlouk I fixed this issue and the fix will be part of the new release `1.1.0` which I just submitted to the App Store. It should be available within ~24 hours. If you run into this issue again, please let me know.

[2022-10-29 03:32] #47 closed

[2022-10-29 03:33] Jeehut commented on #9
The October update `1.1.0` was just submitted to App Review and should be available within 24 hours.

[2022-10-29 03:34] Jeehut commented on #26
The October update `1.1.0` was just submitted to App Review and should be available within 24 hours.

[2022-10-29 13:19] Jeehut opened #55 "[Feat] Provide a list of validated common translations"
## Problem Statement

Machine translation is most useful for longer texts, but shorter buttons like "Done" or "Save" tend to be translated wrong in some languages as they can have multiple correct translations depending on the context, and a single word doesn't make the context very clear, leading to many wrong translations.

## Suggested Solution

For common words such as "Done" or "Save" a valid

[2022-10-31 01:03] Jeehut opened #57 "[Feat] Migrator from SwiftGen 'L10n' calls to ReMafoX 'Loc' calls"
## Problem Statement

Users who followed the [old Pro workflow](https://jeehut.medium.com/localization-in-swift-like-a-pro-48164203afe2?sk=da26d918390db21261b7ead4837286fc) and used SwiftGen in combination with BartyCrouch to localize their keys might have hundreds of `L10n.Some.Key.title` kind of calls in their project. As the ReMafoX structure is a little different with a `.string` or `.locStrin

[2022-10-31 14:59] jason-vectorrecipe commented on #50
Same issue here, with the microsoft lanaguage API - request google translate as an option.

I too have a lot of case where the main RemaFox dialog will not respond, as if some other modal window is blocking my input, but there is no other window open for the app.

[2022-10-31 15:04] jason-vectorrecipe commented on #50
Translation failed: Microsoft Translator request failed with error: The request was sent and the server responded, but the server reports that something is wrong with the request. Status Code: 401. Client Error: (401000) The request is not authorized because credentials are missing or invalid. (Error Code: APIxC)

[2022-10-31 15:04] jason-vectorrecipe commented on #50
Error Code: ATWxTMC

[2022-11-01 10:28] Jeehut commented on #50
@jason-vectorrecipe As for the dialog not appearing, I will tackle that as part of this task, it shouldn't happen, of course. Can you maybe give me examples of actions you've done before running into that issue? One or two should be enough to reproduce.

As for getting the "request failed" error with status code 401, it sounds like https://github.com/FlineDev/ReMafoX/issues/51 which I tackled by p

[2022-11-02 10:46] francosolerio opened #58 "[Bug] [PRAxSRI] "Generating Strings enum failed, Line number for some keys could not be found" in project setup"
## Steps to Reproduce:

1. In the Projects Browser, press "Setup new project"
2. Drag & drop a project & wait for the analyzer to complete
3. Press "Continue" in the Quick Config screen

## Expected Behavior:

I expect the project to finish setup and show me the configuration file so I can adjust it, instead of showing me an error.

## Current Behavior:

The generation fails with this code: `PRAxS

[2022-11-03 04:46] Jeehut commented on #58
@francosolerio Thank you for reporting this issue.

Thanks to the provided `Localizable.stringsdict` file, I could easily reproduce and fix this issue. I had a bug in the logic to escape/unescape XML String literals in the key portion such as `Delete after &lt;color&gt;%d&lt;/color&gt; week(s)`. My line number search logic was searching for `Delete after <color>%d</color> week(s)` which didn't exi

[2022-11-03 04:46] #58 closed

[2022-11-03 05:42] Jeehut commented on #44
I am no longer seeing this issue after upgrading to macOS Ventura. Could it be that this was a bug in SwiftUI that was fixed by now? I'm not sure, I will keep this open for now, please report this if you are on Ventura and still run into this.

[2022-11-03 06:50] Jeehut commented on #49
I just improved the way I exclude Base-localized Strings files from the generated code, which should fix this issue.

The fix will be included as part of the next update `1.1.1` to be released soon. I'll keep you updated!

[2022-11-03 06:50] #49 closed

[2022-11-03 07:26] Jeehut commented on #49
I just submitted version `1.1.1` with the fix to the App Store. It should be available within 24 hours. 🎉

[2022-11-03 07:26] Jeehut commented on #58
I just submitted version `1.1.1` with the fix to the App Store. It should be available within 24 hours. 🎉

[2022-11-08 01:28] Jeehut commented on #14
Until this feature is implemented, please note that you can use the app [Metadata for Fastlane Tools](https://apps.apple.com/de/app/metadata-for-fastlane-tools/id6443995212?l=en&mt=12) as a workaround which includes this feature and other Fastlane-related convenience features that are out of scope for ReMafoX.

[2022-11-08 03:06] NickAtGit opened #59 "[Bug] Deadlock while translation API key setup"
## Steps to Reproduce:

1. Create a new project
2. Go to machine translate in the setup wizard
3. Click Setup API Keys -> Click one of the linkes -> Opens Safari -> Go back to app -> API Keys window is gone and wizard window below is not clickable anymore. Wizard window looks active and is not grayed out.

## Expected Behavior:

API Key window does not disappear.

## Current Behavior:

API Key win

[2022-11-08 23:21] Jeehut commented on #59
@NickAtGit Thank you for reporting this.

I am aware of some issues related to window management and dialogs. The window management issues are hard to fix due to SwiftUI lacking programmatic controls here, I really hope Apple's gonna tackle that during WWDC 2023. As for the dialog issues, I will investigate them and try to find a solution soon. I think that will help with the issue here.

For the

[2022-11-09 14:36] Sn0wfreezeDev opened #60 "[Bug] Only generates enum from stringsdict file and does not consider strings"
## Steps to Reproduce:

When I have a project that contains `.stringsdict` files for plurals and `.strings` files, ReMaFox seems to select randomly, which it uses to base its enum file generation on.
I was not able to get it back to working after I added an new string (which was placed correctly in the strings file), but then ReMaFox removed all content of the enum and replaced it with the content

[2022-11-10 11:18] Sn0wfreezeDev commented on #60
I updated to 1.1.1 and it seems to work now. I don't know if this is just temporary or a permanent fix. If you worked on this you can definitely close the issue 😊

[2022-11-12 01:16] Jeehut commented on #60
@Sn0wfreezeDev Thank you for reporting this issue.

I did not experience what you have reported here yet, so there's no dedicated fix for it shipped with `1.1.1`. But I changed the logic for the sources that are relevant for the generated Swift file as part of a fix for https://github.com/FlineDev/ReMafoX/issues/49, so that might have solved this here as well.

I'll close this one as it seems to b

[2022-11-12 01:16] #60 closed

[2022-11-16 05:16] Jeehut opened #63 "[Feat] Make generated code shorter"
## Problem Statement

Currently, the generated code is quite verbose and repeats things like `var string: String` over and over again.

## Suggested Solution

Try to extract this code into something like a protocol and just conform the types to that protocol instead. At least for Strings without parameters this should be possible and save a lot of verbose generated code.

## Additional Considerati

[2022-11-16 05:52] Jeehut commented on #55
Consider consulting [Apple Glossaries](https://developer.apple.com/download/all/?q=glossaries) for this feature.

[2022-11-16 09:57] ConfusedVorlon commented on #63
I think this could make the generated code a lot more readable. It's pretty verbose at the moment.

[2022-11-27 15:31] Jeehut commented on #39
This feature was just implemented and will be part of the next feature release `1.2.0`. I managed to bring the supported languages to more than a hundred! 🎉

[2022-11-27 15:31] #39 closed